# .gitignore file for: digital-assets
# Ignore .obsidian folder on main folder
.obsidian/

# Ignore repo raw .jpg cover images
blog-cover-image_RAW.jpg
deep-dives-cover-image_RAW.jpg
documentation-cover-image_RAW.jpg
guided-projects-cover-image_RAW.jpg
portfolio-projects-cover-image_RAW.jpg

# Ignore repo raw .xfc cover images
blog-cover-image_RAW.xfc
deep-dives-cover-image_RAW.xfc
documentation-cover-image_RAW.xfc
guided-projects-cover-image_RAW.xfc
portfolio-projects-cover-image_RAW.xfc

# Ignore desktop.ini
desktop.ini